.button{
    width: 8rem;
    height: 4rem;
    color: #fff;
    background-color: inherit;
    font-size: large;
    font-weight:400;
    border: 0px;
    border-radius: 0px;
    margin: 0.5rem;
    transition: ease-out 0.3s;
    cursor: pointer;
    outline: none;
}

.button:hover{
    box-shadow: inset 8rem 0 0 0 rgb(101, 18, 115);
}